/* src/pages/Piadas/styles.css */

.piadas-container {
    padding: 20px;
    text-align: center;
  }
  
  .fetch-button {
    background-color: #4caf50; /* Verde */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .fetch-button:hover {
    background-color: #45a049; /* Verde mais escuro */
  }
  